<div class="modal-header">

  <span class="glyphicon glyphicon-comment"></span> Chat
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" ng-click="vm.closeChat()">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </button>

  </div>
</div>
<div class="modal-body" style="max-height: 400px;overflow: auto;" ng-init="vm.friend.id = '<%=friend.id %>'" >
  <ul class="chat">
    <li class="clearfix" ng-repeat="ch in vm.chatup" ng-class="ch.from == 'me'?'left':'right'">
      <span class="chat-img " ng-class="ch.from == 'me'?'pull-left':'pull-right'">
        <img src="http://placehold.it/50/{{ch.from=='me'?'55C1E7':'500147'}}/fff&text={{ch.from|uppercase}}" alt="User Avatar" class="img-circle" />
      </span>
      <div class="chat-body clearfix">
        <div class="header">
          <strong class="primary-font">{{ch.name}}</strong>
          <small class="pull-right text-muted"></small>
        </div>
        <p  ng-class="ch.from == 'me'?'pull-left':'pull-right'">
          {{ch.message}}
        </p>
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <form ng-submit="vm.send()">
    <div class="input-group">

      <input id="btn-input" ng-model="vm.txt" type="text" class="form-control input-sm" placeholder="Type your message here..." />
      <span class="input-group-btn">
        <button class="btn btn-default btn-sm" id="btn-chat" type="submit">
          Send
        </button>
      </span>

    </div>
  </form>
</div>
