<br />

<div class="col-md-6 col-md-offset-3 well thumbnail">
    <!-- Third Featurette -->
    <div class="featurette" id="contact">
        <img class="featurette-image img-circle img-responsive pull-right" src="/images/93ptkTc12UBb0HN5wXzldPxP4WmKoGTAu0hrHLJqJJw.jpg" width="200">
        <h2 class="featurette-heading">
            Contact
            <span class="text-muted">us</span>
        </h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

    </div>
</div>
<div class="clearfix"></div>