
    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Chat up</h1>
                <h2></h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">       
        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image  img-responsive pull-right" src="/images/mean-stack-2-638.jpg">
            <h2 class="featurette-heading">Welcome to Chat up 
                <span class="text-muted">A Single Page Aplication Powered by MEAN </span>
            </h2>
            <p class="lead">This web application made with MEAN.JS - Full-Stack JavaScript Using MongoDB, Express, AngularJS, and Node.js. Inside of Socket.io it turn to Chat Application.</p>
            <p class="lead">We also use passport integration.</p>
        </div>
               <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="/images/Minions-Funny-Face-Closeup.jpg">
            <h2 class="featurette-heading">This is Simple 
                <span class="text-muted">Is Pretty Cool Too.</span>
            </h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="/images/93ptkTc12UBb0HN5wXzldPxP4WmKoGTAu0hrHLJqJJw.jpg">
            <h2 class="featurette-heading">Contact
                <span class="text-muted">us</span>
            </h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              
        </div>
     </div>