<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-login">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <a href="#" ng-click="vm.active = 'login'" ng-class="vm.active == 'login'?'active':''" id="login-form-link">Login</a>
          </div>
          <div class="col-xs-6">
            <a href="#" ng-click="vm.active = 'register'" ng-class="vm.active == 'login'?'':'active'"  id="register-form-link">Register</a>
          </div>
        </div>
        <hr />
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <form id="login-form" ng-show="vm.active == 'login'" method="post" role="form" style="display: block;" ng-submit="vm.doLogin()">
              <div class="form-group">
                <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" />
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" />
              </div>
              <div class="form-group text-center">
                <input type="checkbox" tabindex="3" class="" name="remember" id="remember" />
                <label for="remember"> Remember Me</label>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login btn-primary" value="Log In" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="text-center">
                      <!--<a href="" tabindex="5" class="forgot-password">Forgot Password?</a>-->
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form id="register-form"  ng-show="vm.active == 'register'"  method="post" role="form" ng-submit="vm.doRegister()">
              <div class="form-group">
                <input type="text" name="name" id="name" tabindex="1" ng-model="vm.regUser.name" class="form-control" placeholder="Full Name" value="" />
              </div>
              <div class="form-group">
                <input type="text" name="username" id="username" tabindex="1" ng-model="vm.regUser.username" class="form-control" placeholder="Username" value="" />
              </div>
              <div class="form-group">
                <input type="email" name="email" id="email" tabindex="1" class="form-control" ng-model="vm.regUser.email" placeholder="Email Address" value="" />
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" tabindex="2" class="form-control" ng-model="vm.regUser.password"  placeholder="Password" />
              </div>
              <div class="form-group">
                <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" ng-model="vm.regUser.passwordConfirm"  placeholder="Confirm Password" />
              </div>
              <div  class="alert alert-danger" ng-show="vm.message">
                <strong>Error!</strong> {{vm.message}}
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register btn-success" value="Register Now" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>