<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Welome to ChatUp</title>
    <script src="/bower_components/angular/angular.min.js"></script><!-- load angular -->
    <script src="/javascripts/ngApp.js"></script>
    <script src="/javascripts/ngController.js"></script>
</head>
<body>
    <h1></h1>
</body>
</html>